p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.search-bar {
    display: block
}

/* thumbnail row */
.thumbnail-row {
    margin-bottom: 12px;
}

.thumbnail {
    width: 300px;
    display: block;
}

/* video preview column */
.video-preview {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.channel-picture {
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

.profile-picture {
    width: 100%;
    border-radius: 50%;
}

/* video info rows */
.video-info {
    display: inline-block;
    width: 200px;
}

.video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 12px;
}

.video-author {
    font-size: 12px;
    color: rgb(97, 97, 97);
    margin-bottom: 4px;
}

.video-stats {
    font-size: 12px;
    color: rgb(97, 97, 97);
}