.chat-container {
    height: calc(100vh - var(--header-height) - var(--header-border) - 2*var(--chat-margin) - 2*var(--chat-border));
    display: grid;
    grid-template-rows: 100px 1fr auto;

    background-color: var(--chat-margin-color);

    border: var(--chat-border) solid var(--chat-border-color);
    border-radius: var(--chat-border-radius);
    margin: var(--chat-margin);
}

/* ################# */
/* ## chat header ## */
/* ################# */

.chat-header {
    background-color: var(--chat-header-background-color);
    color: var(--chat-header-color);
    
    padding-top: var(--chat-padding);
    padding-bottom: var(--chat-padding);

    display: flex;
    justify-content: left;
    align-items: center;
    border-top-left-radius: var(--chat-border-radius);
    border-top-right-radius: var(--chat-border-radius);
}

.chat-header img {
    background-color: white;
    height: 100%;
    margin-left: var(--chat-margin);
    margin-right: var(--chat-margin);

    border-radius: 50%;
    border: var(--chat-border) solid var(--chat-border-color);
}

.teacher-name {
    font-weight: bold;
    font-size: 24px;
}

.teacher-online-status {
    font-size: 12px;
    margin-top: 2px;
}

/* ####################### */
/* ## chat conversation ## */
/* ####################### */

#chat-conversation {
    background-color: var(--chat-background-color);
    margin-bottom: var(--chat-margin);
    margin-left: var(--chat-margin);
    margin-right: var(--chat-margin);
    padding: var(--chat-padding);

    border-radius: var(--chat-border-radius);
    border: var(--chat-border) solid var(--chat-border-color);

    display: flex;
    flex-direction: column-reverse;
    overflow: auto; /* Overflow does not work with justify-center: end; */
}

.user-message {
    background-color: var(--message-background-color-user);
    color: var(--message-color);

    max-width: 55%;
    margin-top: var(--message-distance);
    padding: var(--message-padding);
    align-self: flex-end;

    font-size: var(--message-font-size);

    border-top-left-radius: var(--chat-border-radius);
    border-bottom-right-radius: var(--chat-border-radius);
    border-bottom-left-radius: var(--chat-border-radius);
}

.teacher-message {
    background-color: var(--message-background-color-teacher);
    color: var(--message-color);

    max-width: 55%;
    margin-top: var(--message-distance);
    padding: var(--message-padding);
    align-self: flex-start;

    font-size: var(--message-font-size);

    border-top-right-radius: var(--chat-border-radius);
    border-bottom-right-radius: var(--chat-border-radius);
    border-bottom-left-radius: var(--chat-border-radius);
}

.teacher-message img {
    max-width: 100%;
}

.typing-dot {
    float: left;
    width: 0.5em;
    height: 0.5em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    background: #8d8c91;
    border-radius: 50%;
    opacity: 0;
    animation: loadingFade 1s infinite;
}

@keyframes loadingFade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
    }
}

.typing-dot:nth-child(1) {
    animation-delay: 0s;
}
  
.typing-dot:nth-child(2) {
    animation-delay: 0.2s;
}
  
.typing-dot:nth-child(3) {
    animation-delay: 0.4s;
}

.answer-selection {
    display: flex;
    margin-top: var(--message-distance);
    column-gap: var(--message-distance);
}

.answer-selection button {
    padding: var(--message-padding);
    flex: 1;
}

/* ################ */
/* ## chat input ## */
/* ################ */

.chat-input {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: var(--chat-margin);
    margin-right: var(--chat-margin);
    margin-bottom: var(--chat-margin);
}

.chat-input input {
    margin-right: var(--chat-margin);
    font-size: var(--message-font-size);
    padding-left: 10px;
    flex: 1;
    height: 42px;

    border-radius: var(--chat-border-radius);
    border: var(--chat-border) solid var(--chat-border-color);
}

.chat-input button {
    width: 100px;
    height: 50px;

    font-weight: bold;
}