:root {
    /* global variables */
    --background-color: #FFFEFD;

    /* header variables */
    --header-color: #FFFEFD;
    --header-border-color: #B79972;
    --header-height: 75px;
    --header-border: 1px;

    /* chat variables */
    --chat-header-background-color: #FFF9F1;
    --chat-header-color: rgb(0, 0, 0);

    --chat-background-color: #FFFEFD;

    --chat-margin-color: #FFF9F1;
    --chat-margin: 20px;
    --chat-padding: 10px;

    --chat-border-color: #dacbb8;
    --chat-border: 2px;
    --chat-border-radius: 10px;

    /* message variables */
    --message-background-color-user: #DEE3F9;
    --message-background-color-teacher: #E6DDF9;
    --message-color: black;
    --message-distance: 10px;
    --message-padding: 10px;
    --message-font-size: 16px;

    /* button variables */
    --button-background-color: #DAF1F8;
    --button-background-color-hover: #AFD8E6;
    --button-background-color-active: #7DB6C8;
    --button-background-continue-color: #aee0ef;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

button {
    background-color: var(--button-background-color);

    font-size: var(--message-font-size);

    border-radius: var(--chat-border-radius);
    border: none;

    transition: background-color 0.15s;
}

button:hover {
    background-color: var(--button-background-color-hover);
}

button:active {
    background-color: var(--button-background-color-active);
}

.button-continue {
    background-color: var(--button-background-continue-color);
}