.grid-container {
    /* fill the whole page */
    height: calc(100vh - var(--header-height) - var(--header-border));

    display: grid;
    grid-template-columns: 1fr 2fr;
}

.intro-area {
    background-color: var(--background-color);
}

.chat-area {
    background-color: var(--background-color);
}
